<h1>Instant Messengers</h1>

<h2>TLDR</h2>
<p>Use either <a href="#XMPP">XMPP</a> or <a href="#SimpleX">Simplex</a>. The rest of the options are outclassed by these ones. Some P2P messengers are also good and have their use cases, but
	due to the limitations of P2P they are still outclassed in most situations.</p>

<h3>Legend</h3>
<div class="table-container">
<table>
<tbody>
<tr>
<td>No info</td>
<td class="red">Worst</td>
<td class="orange">Bad</td>
<td class="yellow">Barely Decent</td>
<td class="blue">Probably Okay</td>
<td class="green">Good</td>
</tr>
</tbody>
</table>
</div>


<h2>Table</h2>
<p>Check our <a href="#Criteria">Criteria</a>. Feel free to open an <a href="https://codeberg.org/ThePrivacyRaccoon/website/issues">issue</a> to discuss these ratings or provide new information.</p>
<div class="table-container">
	<table>
<tbody>
<tr>
<td>Name</td>
<td>Telemetry Rating</td>
<td>Network Architecture</td>
<td>DNS dependent</td>
<td>Metadata Resistant</td>
<td>Information Required</td>
<td>E2E Encryption</td>
<td>Operating System</td>
<td>License</td>
<td>Verdict</td>
</tr>
<tr>
<td><a href="#WhatsApp">WhatsApp</a></td>
<td class="red">High, Meta telemetry</td>
<td class="red">Centralized</td>
<td class="red">Yes</td>
<td class="red">No</td>
<td class="red">Phone Number</td>
<td class="green">Yes</td>
<td>Various</td>
<td class="red">Proprietary</td>
<td class="red">Do Not Use</td>
</tr>
<tr>
<td><a href="#Telegram">Telegram</a></td>
<td>Unrated</td>
<td class="red">Centralized</td>
<td class="red">Yes</td>
<td class="red">No</td>
<td class="red">Phone Number</td>
<td class="red">No</td>
<td>Various</td>
<td class="orange">Client is free software, proprietary server</td>
<td class="red">Do Not Use</td>
</tr>
<tr>
<td><a href="#Skype">Skype</a></td>
<td>Probably high, sources needed</td>
<td class="red">Centralized</td>
<td class="red">Yes</td>
<td class="red">No</td>
<td class="red">Microsoft Account</td>
<td>N/A</td>
<td>Various</td>
<td class="red">Proprietary</td>
<td class="red">Do Not Use</td>
</tr>
<tr>
<td><a href="#Discord">Discord</a></td>
<td class="red">Extremely High</td>
<td class="red">Centralized</td>
<td class="red">Yes</td>
<td class="red">No</td>
<td class="orange">Email and potentially Phone Number</td>
<td class="red">No</td>
<td>WebUI and Electron, 3rd party clients prohibited</td>
<td class="red">Proprietary</td>
<td class="red">Do Not Use</td>
</tr>
<tr>
<td><a href="#Signal">Signal</a></td>
<td class="orange">Google Libraries on the official app</td>
<td class="red">Centralized</td>
<td class="red">Yes</td>
<td class="green">Yes</td>
<td class="red">Phone Number</td>
<td class="green">Yes</td>
<td>Mobile, Electron</td>
<td class="yellow">MIT, server partially proprietary</td>
<td class="orange">Avoid</td>
</tr>
<tr>
<td><a href="#Threema">Threema</a></td>
<td>Unrated</td>
<td class="red">Centralized</td>
<td class="red">Yes</td>
<td>N/A</td>
<td class="yellow">Payment Info, Bitcoin is an option but no Monero</td>
<td class="green">Yes</td>
<td>Android, iOS, Web</td>
<td class="orange">Client under GPLv3 , proprietary server</td>
<td class="orange">Avoid</td>
</tr>
<tr>
<td><a href="#Wire">Wire</a></td>
<td>Unrated</td>
<td class="red">Centralized</td>
<td class="red">Yes</td>
<td>N/A</td>
<td class="red">Credit Card</td>
<td class="green">Yes</td>
<td>Various</td>
<td class="green">AGPLv3, GPLv3</td>
<td class="orange">Avoid</td>
</tr>
<tr>
<td><a href="#Session">Session</a></td>
<td>Unrated</td>
<td class="blue">Decentralized, Swarms (blockchain)</td>
<td class="red">Yes</td>
<td class="green">Yes</td>
<td class="green">None</td>
<td class="green">Yes</td>
<td>Mobile, Electron</td>
<td>N/A server, GPL (clients)</td>
<td>?</td>
</tr>
<tr>
<td><a href="#Matrix">Matrix</a></td>
<td>Unrated</td>
<td class="green">Decentralized, dominant instance, Federated</td>
<td class="red">Yes</td>
<td class="red">no</td>
<td class="blue">Email (main instance)</td>
<td class="green">Yes</td>
<td>WebUI, electron (official client), various (3rd party clients)</td>
<td class="green">Apache (official implementations), various (other)</td>
<td class="yellow">Check other options</td>
</tr>
<tr>
<td><a href="#XMPP">XMPP</a></td>
<td class="green">None (could vary on client)</td>
<td class="green">Decentralized, Federated</td>
<td class="yellow">Partially, can be used through Tor/I2P</td>
<td class="red">no</td>
<td class="green">None (depends on server)</td>
<td class="green">Yes</td>
<td>Various, depends on client</td>
<td class="green">CC-BY-SA 2.0 (specification), various (clients)</td>
<td class="green">Good</td>
</tr>
<tr>
<td><a href="#Jami">GNU Jami</a></td>
<td class="green">None</td>
<td class="green">Decentralized, P2P</td>
<td class="green">No</td>
<td>N/A</td>
<td class="green">None</td>
<td class="green">Yes</td>
<td>Android, most desktop OSs</td>
<td class="green">GPLv3</td>
<td class="blue">Okay</td>
</tr>
<tr>
<td><a href="#Briar">Briar</a></td>
<td class="green">None</td>
<td class="green">Decentralized, P2P</td>
<td class="green">No</td>
<td>N/A</td>
<td class="green">None</td>
<td class="green">Yes</td>
<td>Android, Linux</td>
<td class="green">GPLv3</td>
<td class="blue">Okay</td>
</tr>
<tr>
<td><a href="#SimpleX">Simplex</a></td>
<td class="green">None</td>
<td class="green">Decentralized, P2P</td>
<td class="green">No</td>
<td class="green">Yes</td>
<td class="green">None</td>
<td class="green">Yes</td>
<td>Android, iOS, Linux, MacOS</td>
<td class="green">GPLv3</td>
<td class="green">Good</td>
</tr>
</tbody>
</table>
</div>

<h2 id="Criteria">Criteria</h2>
<h3 id="essential">Essential</h3>
<ul>
<li>Must be completely free software, both clients and server.</li>
<li>Must be decentralized (federated or P2P) and self-hostable.</li>
<li>Must support and use E2EE.</li>
<li>Minimal telemetry.</li>
<li>No personal information required (no phone number or credit card, better if it avoids email too).</li>
</ul>
<h3 id="nice-to-have">Nice to have</h3>
<ul>
<li>Has been independently audited.</li>
<li>Is metadata resistant.</li>
<li>No for-profit business behind.</li>
<li>No dependency on DNS.</li>
<li>May be used through Tor and/or I2P.</li>
<li>Multiple implementations of clients and servers.</li>
</ul>



<h2>Analysis</h2>

<!--
<div class="option">
	<h3 id="" class="title-no-logo"><a href=""></a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>

	</p>
	</div>
</div>
-->

<div class="option">
	<h3 id="WhatsApp" class="title-no-logo"><a href="">WhatsApp</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>

		Meta owned.
	</p>
	</div>
</div>


<div class="option">
	<h3 id="Telegram" class="title-no-logo"><a href="">Telegram</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
Requires a phone number, it's centralized and only a special, non-default type of chats is E2EE.
	</p>
	</div>
</div>

<div class="option">
	<h3 id="Skype" class="title-no-logo"><a href="">Skype</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
Microsoft owned.
	</p>
	</div>
</div>

<div class="option">
	<h3 id="Discord" class="title-no-logo"><a href="">Discord</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
		Read the following articles: <a href="https://spyware.neocities.org/articles/discord">Spyware Watch Dog</a>,
	 <a href="https://drewdevault.com/2021/12/28/Dont-use-Discord-for-FOSS.html">Drew DeVault</a>, 	<a href="https://web.archive.org/web/20230922185906/http://wowana.me/blog/guess-im-done-with-discord.xht">Opal</a>.
	</p>
	</div>
</div>

<div class="option">
	<h3 id="Signal" class="title-no-logo"><a href="">Signal</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
An in-depth analysis is planned, meanwhile, Signal's two biggest flaws are:
		</p>
<ul>
<li>it is centralized.</li>
<li>it requires a phone number.</li>
</ul>
	
	</div>
</div>

<div class="option">
	<h3 id="Threema" class="title-no-logo"><a href="https://threema.ch/en">Threema</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
An in-depth analysis is planned, what is important to know is that it's centralized
		and it's server is proprietary software. It is also paid and does not support
		either Monero nor cash by mail.
	</p>
	</div>
</div>

<div class="option">
	<h3 id="Wire" class="title-no-logo"><a href="https://wire.com/en/">Wire</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
Centralized. It's paid and requires credit card, no other payment options.
	</p>
	</div>
</div>

<div class="option">
	<h3 id="Session" class="title-no-logo"><a href="https://getsession.org">Session</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>

	</p>
	</div>
</div>

<div class="option">
	<h3 id="Matrix" class="title-no-logo"><a href="https://matrix.org/">Matrix</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
		I plan to make a full article about Matrix, until then, here's some quick commentary:
	</p>
	<p>	
		The official (massive) instance, matrix.org, is Cloudflared and employs a Google ReCaptcha 
		to keep people away, and is hosted on Amazon servers.
	</p>
	<p>	
		When taking into account that standards like XMPP and IRC have been around for decades,
		we can safely affirm that Matrix is a completely over-engineered system, ignoring all well established international 
		standards and run by a for-profit entity with venture capital funding.
	</p>
		<p> Outclassed by <a href="#XMPP">XMPP</a> in every aspect, but  If you really need to use Matrix, be sure to use an independent 
			homeserver or self-host. Avoid the official server.
	</p>
		<p>
		Read this excellent <a href="https://hackea.org/notas/matrix.html">article</a> for more issues with matrix.
	</p>
	</div>
</div>


<div class="option">
	<h3 id="XMPP" class="title-no-logo"><a href="https://xmpp.org/">XMPP</a></h3>
	<div class="option-p">
		<p><i><strong>WIP</strong></i></p>
	<p>
XMPP stands for the "eXtensible Messaging and Presence Protocol". It is currently one of the, 
		if not the best choice for instant messaging currently available. No one owns XMPP. It's a free and open
		standard for everyone to use since 1999.
	</p>
	<p>It has been used under the hood of thousands of other Instant Messengers,
such as WhatsApp, Facebook Messenger, Zoom Chat and a long list of big services
have made use of the XMPP standard to build their vendor-locking messengers.</p>
<p>We&#39;re interested in the federated XMPP network. It provides users the ability to
communicate with other users even if they are in a different server, just like email.</p>
<p>XMPP is an evolving protocol and during the years it has supported multiple encryption methods: GPG, OTR and OMEMO. We strongly recommend OMEMO because it&#39;s the best supported and more modern method of the three.</p>
<p>You can easily self-host your own XMPP server and gain your own data sovereignty.</p>
<p>XMPP is an incredibly flexible protocol and as such it can be used through Tor and/or I2P, making it censorship resistant becoming independent of DNS and the ICANN and allowing users to be completely anonymous from the server of your choice.</p>
<p>It is not entirely perfect, as the server receives some metadata from the users, notably the user&#39;s Contact list (for sync between devices). It is also susceptible (as almost every other client-server protocol) to MITM attacks, that&#39;s why it&#39;s important to choose a trusted server.</p>
<p>Nonetheless, all those disadvantages disappear when you self-host which makes you able to own your data, and even if you don&#39;t self-host, there are several public XMPP providers with excellent reputation that you can choose from. </p>
<p>Client support is also good, there are multiple choices to choose from. You can find our recommended
	clients <a href="/index.html#XMMP-Client">here</a>.</p>
<h4 id="conclusion">Conclusion</h4>
<p>Considering that the advantages surpass by far the drawbacks, XMPP is one of the best choices regarding IM.</p>
<h4 id="xmpp-vs-other-options">XMPP vs other options</h4>
<p>Comparing XMPP to the rest of client-server IMs (Signal, Threema, Matrix...) in this list, it&#39;s the clear winner.</p>
<p>P2P options like <a href="#Briar">Briar</a> and <a href="#Jami">Jami</a> are good contenders and they have the advantage that there is no server to trust. But both of these have the inherent limitations of P2P software and issues of their own, such as slow development and poor client support.</p>
<p>Lastly, we have <a href="#SimpleX">SimpleX</a>. SimpleX is decentralized and doesn&#39;t depend on any single unique identifiers such as phone numbers, usernames, nor even randomly generated strings. Servers (which act more as relays and you can swap them on the fly) have zero knowledge about the clients connecting to them. You can host your own relay if you wanted to and some relays even have Tor support. It&#39;s only drawbacks is that there&#39;s only one implementation and that you can&#39;t sync between your phone and desktop clients (yet). </p>
<p>Due to these convenience of use reasons and it&#39;s historical availability and robustness, XMPP is still an important contender even if SimpleX provides unique privacy features.</p>

	</div>
</div>

<div class="option">
	<h3 id="Jami" class="title-no-logo"><a href="">GNU Jami</a></h3>
	<div class="option-p">
		<p><i><strong>WIP</strong></i></p>
	<p>

	</p>
	</div>
</div>

<div class="option">
	<h3 id="" class="title-no-logo"><a href=""></a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>

	</p>
	</div>
</div>

<div class="option">
	<h3 id="Briar" class="title-no-logo"><a href="http://briarproject.org/">Briar</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
A peer to peer messenger that works over Tor. There is an Android client which works well,
		the desktop client is not good yet.
	</p>
	</div>
</div>

<div class="option">
	<h3 id="Simplex" class="title-no-logo"><a href="https://simplex.chat/">SimpleX</a></h3>
	<div class="option-p">
		<p><i><strong>Pending</strong></i></p>
	<p>
		SimpleX is decentralized and doesn&#39;t depend on 
		any single unique identifiers such as phone numbers, usernames, nor even randomly generated strings. 
		Servers (which act as relays and you can swap them on the fly) have zero knowledge about 
		the clients connecting to them. You can host your own relay if you wanted to and some relays 
		even have Tor support. It&#39;s only drawbacks is that there&#39;s only one implementation and
		that you can&#39;t sync between your phone and desktop clients (yet).

	</p>
	</div>
</div>
