* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	background-color: #000;
	color: #bdbdbd;
	display: flex;
	flex-wrap: wrap;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

img {
	height: auto;
	max-width: 100%;
}

pre, code {
	margin: 0;
}

a {
	color: #56c8ff;
}

#header a, #nav a {
	text-decoration: none;
}

#nav a:hover {
	background-color: #222;
}
blockquote, pre, code {
		background-color: #111;
		border-color: #222;
	}

#header {
	align-items: center;
	background-color: #111;
	color: #555;
	display: flex;
	font-size: 1.8em;
	padding: 0.7ex 0.7ex 1.7ex 0.7em;
	width: 100%;
}
#header  span {
	margin-top:1%;
	float: left;
}
#header img {
	display: inline-block;
	float: left;
	margin-right:2%;
}

#headerLink {
	color: #17a;
	margin-left: 5px;
}

#header .title-text {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0.5em;
	padding-top: 5px;
}

#header .title-text span:not(.hidden) {
	display: block;
	float: none;
	width: 100%;
}


h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
}

#headerSubtitle {
	font-size: 0.75em;
	font-style: italic;
	margin-top: 0 !important;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
}

#nav {
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	border-right: 1px dotted #ccc;
	width: 200px; 
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#main {
	margin: 0;
	max-width: 50em;
	padding: 1.5em;
	width: calc(100% - 250px);
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}


.table-container {
/*	overflow: auto; */
	width: 100%;
}


table, th, td {
  border: 1px solid gray;
 /* border-collapse: collapse; */
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 800px;
}
.blue {
	background: #2F92FF;
	color: black;
}
.green {
    background: #00892E;
    color: black;
}
.dark_green {
	background: #00981b;
	color: black;
}
.light_green {
	background: #c8e63c;
	color: black;
}

.red {
    background: #6F0008;
    color: black;
}
.orange {
    background: #ff4500;
    color: black;
}
.yellow {
	color: black;
    background: #9B9000;
}



.button {
	border: 1px solid white;
	margin:0px;
  	display: inline-block;
	vertical-align: middle;
	width:20%;
	height:30px;
	text-align:center;
	display:block;
	background-color:#56c8ff;
}
.button p {
	padding-top: 5%;
}
.button a {
	color: white;
}


.logo {
	float:left;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 15px;

}


.title-no-logo {

	padding-left:20px;
	padding-right:10px;

}
.option {
	padding: 5px;
	margin: 2%;
	border: 1px solid white;
}
.option-p {
	padding-top:17px;
	padding-left:15px;
	padding-right:10px;
	padding-bottom:5px;
}
.option-p p{
	padding-top:5px;
	padding-bottom:5px;
	margin: 0px;
}
.option a{
	margin: 0px;
	text-decoration:none;
}
.option h3{
	margin: 0px;
	padding-top: 22px;
}

.cat-item {
	border: 1px solid white;
	margin:6px;
  	display: inline-block;
	vertical-align: top;
    width:30%;
    height:30%;
}
a.cat:link {

	padding:9px;
	margin:0px;
	text-align:center;
	display:block;
	font-size:16px;
	text-decoration:none;
	font-weight:700
}
a.cat:hover {
	color:#3498db;
}
.cat-item a.cat:hover {
	background-color:#fff
}
.maindiv {
		width: 100%;
    position:relative;
	margin: 2%;
}


footer			{ 						
	font-size: 12pt;
	color: #ddd;
	line-height: 1.2em;
	margin-top: 1%;
	text-align:center;
	width: 100%; }

footer a {
		margin-left: 3%;
		margin-right: 3%;
		text-decoration: none;
}

/* Mobile breakpoints */
@media(max-width: 875px) {
	#header {
		flex-wrap: wrap;
	}
	#headerSubtitle {
		display: block;
		margin-left: 0;
		padding-top: 1%;
		width: 100%;
	}

	#header .title-text {
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
	}

	#nav {
		border: 0;
		width: 100%;
	}
	#nav li {
		display: inline-block;
	}
	#nav li a {
		display: inline-block;
		padding: 5px 10px;
	}

	#nav ul:not(.img-banners) li {
		position: relative;
	}
	#nav ul:not(.img-banners) li:after {
		content:"|";
		display: inline-block;
		position: relative;
	}
	#nav ul:not(.img-banners) li:last-of-type:after {
		display: none;
	}

	#nav ul.img-banners {
		margin-top: 1.2em;
	}

	#main {
		max-width: 100%;
		width: 100%;
	}
}

@media(max-width: 680px) {
	#header {
		font-size: 150%;
	}
	.maindiv {
		margin-left: 0;
		margin-right: 0;
	}
	.cat-item {
		width: 100%;
	}
}
